* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
}

:root {
    --swiper-theme-color: #bdb133 !important;
}

html {
    overflow-x: hidden;
    cursor: none;
}

.container-fluid {
    padding: 0 !important;
}

.offcanvas-body::-webkit-scrollbar {
    width: 8px;
}

.offcanvas-body::-webkit-scrollbar-track {
    background: #dadada;
}

.offcanvas-body::-webkit-scrollbar-thumb {
    background-color: #3f3e3e;
    border-radius: 0px;
    border: 3px solid #3f3e3e;
}

a:hover {
    cursor: pointer;
    color: #bdb133 !important;
}

a {
    color: #bdb133;
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Noto Sans", HelveticaNeueCyr, Helvetica, sans-serif;
    line-height: 1;
    color: #dadada;
    background: #3f3f3f;
    position: relative;
}

.circle {
    cursor: url('../img/backsvg-01.svg'), auto;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
    padding-top: 40px;
}

    .portfolio-details .portfolio-details-slider img {
        width: 100%;
    }

    .portfolio-details .portfolio-details-slider .swiper-pagination {
        margin-top: 20px;
        position: relative;
    }

        .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
            width: 12px;
            height: 12px;
            background-color: #fff;
            opacity: 1;
            border: 1px solid #47b2e4;
        }

        .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
            background-color: #47b2e4;
        }

    .portfolio-details .portfolio-info {
        width: 100%;
        padding: 30px;
    }

.right-section {
    width: 45%;
}

.left-section {
    width: 55%;
    height: 75vh;
}

.portfolio-details .portfolio-info h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-left: 14px;
    border-left: 1px solid #dadada;
}

.header-info {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 2px solid #bdb133;
}

.portfolio-info img {
    width: 60px;
}

.portfolio-details .portfolio-info ul {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    margin-top: 22px;
    line-height: 3;
    border-bottom: 2px solid #bdb133;
    padding-bottom: 16px;
}

    .portfolio-details .portfolio-info ul li + li {
        margin-top: 10px;
    }

.portfolio-details .portfolio-description {
    width: 100%;
    padding: 30px;
    background: #28282894;
    border-radius: 0% 0% 2% 2%;
    box-shadow: 0px 0 30px rgb(55 81 126 / 8%);
    padding-top: 30px;
    width: 100%;
}

    .portfolio-details .portfolio-description h2 {
        font-size: 17px;
        font-weight: 700;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eeeeee42;
    }

    .portfolio-details .portfolio-description p {
        padding: 0;
        letter-spacing: 1px;
        word-spacing: 0px;
        line-height: 17px;
        font-size: 13px;
    }

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 15px 0;
    background: #dadada;
    min-height: 50px;
}

@media (max-width: 992px) {
    .breadcrumbs {
        /* margin-top: 68px; */
    }
}

.breadcrumbs .projectslash {
    padding-left: 1.5%;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    font-size: 17px;
    top: 10px;
}

.breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
    font-size: 14px;
}

    .breadcrumbs ol li + li {
        padding-left: 10px;
    }

        .breadcrumbs ol li + li::before {
            display: inline-block;
            padding-right: 10px;
            color: #4668a2;
            content: "/";
        }

/*--------------------------------------------------------------
# Swiper
--------------------------------------------------------------*/
.swiper {
    width: 100%;
    height: 59vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff; /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
        background: #3f3f3f;
    }

.swiper-button-next:hover, .swiper-button-prev:hover, a:hover {
    cursor: pointer;
}

.mySwiper .swiper-slide {
    margin-top: 10px;
    width: 124px !important;
    margin: 1px !important;
    outline: 0px solid #000;
    height: 80px;
}

.mySwiper2 .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 60vh;
    position: relative;
    transition-property: transform;
    display: block;
}

.mySwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #dadada;
}

#gallery-swiper {
    height: 100px;
    width: -webkit-fill-available;
}

.footer p {
    padding-left: 7%;
    font-size: 13px;
    font-weight: bold;
}

.footer a {
    color: #3f3e3e;
    text-decoration: none;
}

    .footer a:hover {
        color: #bdb133;
        text-decoration: none;
    }

.social-button a {
    color: #3f3e3e;
    text-decoration: none;
}

.social-button {
    width: 75%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

    .social-button li {
        margin-left: 10px;
    }

.orange {
    color: #bdb133 !important;
}

.carrot {
    opacity: 0.4;
}

.container a {
    float: right;
    font-weight: 600;
    position: relative;
    top: -3rem;
    text-decoration: none;
    font-size: 13px;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 30px !important;
}

.cont .row {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
}

.logo-pro {
    top: 0 !important;
    color: #282828;
}

    .logo-pro:hover {
        top: 0 !important;
        color: #bdb133;
    }

.mySwiper .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
    flex-direction: row;
    justify-content: center;
}

@media (max-width: 768px) {
    .cont .row {
        display: block;
    }

    .left-section, .right-section {
        width: 100%;
    }

    .right-section {
        margin-top: 20px;
    }
}
