<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Ocean Home</title>
    <meta name="keywords" content="Ocean Home">
    <meta name="description" content="Ocean Home Website">
    <meta name="author" content="Ocean Home">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="Content/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="Content/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="Content/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="Content/images/oshn home logo.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="Content/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->
<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="Content/images/loading.gif" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">
            <div class="head_top" dir="ltr">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="top-box">
                                <ul class="sociel_link">
                                    <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                    <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li> <a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            <div class="top-box">
                                <p>We believe in professionalism in every aspect of our work </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo"> <a href=""><img src="Content/images/oshn home logo.png" alt="logo" /></a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-9 col-sm-9">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        <li class="active"> <a href="">الرئيسيه</a> </li>
                                        <li> <a href="home/about">نبذه عنا</a> </li>
                                        <li> <a href="/#whyschose">قيمنا</a> </li>
                                        <li> <a href="/#service"> خدماتنا</a> </li>
                                        <li> <a href="/#footer">تواصل معنا</a> </li>
                                        @* <li class="mean-last"> <a href="Content/#contact">signup</a> </li> *@
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    @* <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                    <li><a class="buy" href="Content/#">Login</a></li>
                    </div> *@
                </div>
            </div>
            <!-- end header inner -->
    </header>
    <!-- end header -->
    @RenderBody()

    <!--  footer -->




    <footr>
        <div class="footer" id="footer" dir="ltr">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <ul class="sociel">
                            <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="contact">
                            <h3>تواصل معنا</h3>
                            <span>
                                القاهره , مصر<br>
                                ميدان التحرير<br>
                                +987 654 3210
                            </span>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="contact">
                            <h3>اذهب الى</h3>
                            <ul class="lik">
                                <li> <a href="HOME/ABOUT">نبذه عنا</a> </li>
                                <li> <a href="/#whyschose">قيمنا</a> </li>
                                <li> <a href="/#service"> خدماتنا</a> </li>
                                <li> <a href="/#footer">تواصل معنا</a> </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="contact">
                            <h3>قيمنا</h3>
                            <ul class="lik">
                                <li> <a href="#whyschose">الجــــودة</a></li>
                                <li> <a href="#whyschose">الإلتـــزام</a></li>
                                <li> <a href="#whyschose">الابتــكار</a></li>
                                <li> <a href="#whyschose">الإحترافـية</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12" style="margin-bottom: 25px;" dir="rtl">
                        <div class="contact">
                            <h3 style="font-size: 20px !important;">
                                أوشن هوم - Ocean Home
                            </h3>
                            <span>شركة أوشن هوم للتشييد والبناء تأسست سنة (2017) واكتسبت الأفضلية والتميز بين الشركات وبشهادة العملاء ونزاهة التعامل مع الكل وثقتهم وجودة ما نقدم .</span>
                        </div>
                    </div>
                </div>
            </div>
            @* <div class="copyright">
            <p>Copyright 2019 All Right Reserved By <a href="https://html.design/">Free html Templates</a> Distributed By <a href="https://themewagon.com">ThemeWagon </a></p>
            </div> *@

        </div>
    </footr>
    <!-- end footer -->
    <!-- Javascript files-->
    <script src="Content/js/jquery.min.js"></script>
    <script src="Content/js/popper.min.js"></script>
    <script src="Content/js/bootstrap.bundle.min.js"></script>
    <script src="Content/js/jquery-3.0.0.min.js"></script>
    <script src="Content/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="Content/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="Content/js/custom.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function () {

                $(this).addClass('transition');
            }, function () {

                $(this).removeClass('transition');
            });
        });

    </script>
</body>
</html>
