body {
    background: #3f3f3f;
    color: #dadada;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3f3f3f;
    z-index: 99999;
}

    #preloader img {
        position: absolute;
        top: 48%;
        left: 48%;
        width: 65px;
    }

.main-show {
    -webkit-animation: main-zoom-in 1s linear;
    animation: main-zoom-in 1s linear;
}

@-webkit-keyframes main-zoom-in {
    0% {
        scale: 0;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

@keyframes main-zoom-in {
    0% {
        scale: 0;
        opacity: 0;
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent !important;
    border: 0;
    border-radius: 0.25rem;
    opacity: .5;
}

    .btn-close i {
        font-size: 25px;
        position: relative;
        /* top: -15px; */
        /* right: 8px; */
        cursor: pointer;
        color: #dadada;
    }

.container a {
    float: right;
    font-weight: 600;
    position: relative;
    top: 0rem;
    text-decoration: none;
    font-size: 13px;
}

.left {
    float: left;
}
